<div class="games-section">
<div id="clearance" class="sign-up">
  <h2 style="color: #FFFFFF"><%= t(".title") %></h2>

  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="submit-field" style="width: 17%; margin-top: 20px; margin-left: 70px">
      <%= form.submit ({:class => 'btn btn-success, form-control'})%>
    </div>


    <div class="other-links">
      <%= link_to t(".sign_in"), sign_in_path %>
    </div>
  <% end %>
</div>
</div>