
<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class=""></div>
  <div class="field page-text">
    <%= form.label :name, {:class => 'textStyle'} %>
    <%= form.text_field :name, {:class => 'form-control, fieldStyle'} %>
  </div>

  <div class="field page-text">
    <%= form.label :price, {:class => 'textStyle'} %>
    <%= form.number_field :price, {:class => 'form-control, fieldStyle'}  %>
  </div>

  <div class="field page-text">
    <%= form.label :genre, {:class => 'textStyle'} %>
    <%= form.text_field :genre,  {:class => 'form-control, fieldStyle'}  %>
  </div>

  <div class="field page-text fieldStyle" style="margin-left: 28%">
    <%= form.label :studio_id, {:class => 'textStyleSecond'} %>
    <%= form.collection_select :studio_id, Studio.order(:name), :id, :name, {:class => 'form-control, fieldStyle'}%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
